		<div class="row padding">
		{% for category in site.categories %}
			{% if category[0] == 'case history' %}
			{% assign total = 0 %}
			{% for post in category[1] %}
			{% if post.parent-category == 'institute-insights' %}
			{% assign total = total | plus: 1 %}
			{% endif %}
			{% endfor %}
			{% if total != 0 %}
				{% for post in category[1] %}
					
					{% if post.parent-category == 'institute-insights' and post.locale == page.locale %}
					 <div class="col-lg-6 col-md-6 text-center">
					 <div>
					 <a  class="title-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
					 <span>{{ post.date }}</span>
					 <p>{{ post.excerpt }}</p>
					 <p class="text-link"><a href="{{ site.baseurl }}{{ post.url }}">{{ site.data.locales[page.locale].glossary['readmore']}}</a></p>
					 </div>
					 </div>
					{% endif %}
					
					
				{% endfor %}
			{% endif %}
			{% endif %}
		{% endfor %}
		</div>