<section id="crypto-week"  class="blog-panel institute-insights">
	<div class="container">
		<div class="row">
			<h3>Crypto Week</h3>
		</div>
		<div class="row padding">
		{% for category in site.categories %}
			{% if category[0] == 'crypto week' %}
			{% assign total = 0 %}
			{% for post in category[1] %}
			{% if post.parent-category == 'institute-insights' and post.locale == page.locale and post.published == true %}
			{% assign total = total | plus: 1 %}
			{% endif %}
			{% endfor %}
			{% if total != 0 %}
			<div class="view-all">
				{% assign folder1 = site.pages | sort: 'sort_ranking' | reverse %}
				{% for section in folder1 %}
					{% if section.locale == page.locale and section.posts-category == 'crypto week' %}
					<a href="{{ site.baseurl }}{{ section.permalink }}">View All</a>
					{% endif %}
				{% endfor %}
			</div>
				{% assign limit = 1 %}
				{% for post in category[1] %}
					
					{% if category[0] == post.categories[2] and post.parent-category == 'institute-insights' and post.published == true and post.locale == page.locale and limit < 3 %}
					 <div class="col-lg-6 col-md-6 text-center">
					 <div>
					 <a  class="title-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
					 <span class="date-news">{{ post.date | date_to_long_string: "ordinal" }}</span>
					 <div class="excerpt-news">{{ post.excerpt }}</div>
					 <p class="text-link"><a href="{{ site.baseurl }}{{ post.url }}">{{ site.data.locales[page.locale].glossary['readmore']}}</a></p>
					 </div>
					 </div>
					 {% assign limit = limit | plus: 1 %}
					{% endif %}
					
					
				{% endfor %}
			{% endif %}
			{% endif %}
		{% endfor %}
		</div>
		<div id="banner-intesa" class="row padding" style="margin-right: 15px; margin-top: 30px;">
		<p><a target="_blank" href="{{ site.data.locales[page.locale].glossary['banner-url']}}"><img src="{{ site.baseurl }}{{ site.data.locales[page.locale].glossary['banner']}}" width=100%></a></p>
		</div>
	</div>
</section>