		<div class="row padding">
			{% assign limit = 1 %}
			{% for post in site.posts %}
				{% if post.parent-category == 'institute-insights' and post.published == true and post.locale == page.locale and limit < 3 %}
				 <div class="col-lg-6 col-md-6 text-center">
				 <div>
				 <a  class="title-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
				 <span class="date-news">{{ post.date | date_to_long_string: "ordinal" }}</span>
				 <div class="excerpt-news">{{ post.subtitle }}</div>
				 <p class="text-link"><a href="{{ site.baseurl }}{{ post.url }}">{{ site.data.locales[page.locale].glossary['readmore']}}</a></p>
				 </div>
				 </div>
				 {% assign limit = limit | plus: 1 %}
				{% endif %}
			{% endfor %}
		</div>