<head>
	<meta charset="utf-8">
{% assign mdata = site.data.metadata | where:"uid", page.uid | where:"locale", page.locale %}

{% for metadata in  mdata %}
	<title>{% if metadata.title %}{{ metadata.title }}{% else %}{{ page.title }}{% endif %}</title>
	<meta name="description" content="{% if metadata.description %}{{ metadata.description }}{% else %}{{ page.subdesc }}{% endif %}">
{% endfor %}

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="">
{% assign pages = site.pages | where:"uid", page.uid | sort: 'locale' %}
	{% for page in pages %}
	<link rel="alternate" hreflang="{{ page.locale }}" href="{{ site.baseurl }}{{ page.permalink }}" />
	{% endfor %}
	<link rel="shortcut icon" href="{{ site.baseurl }}/assets/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/ico/apple-touch-icon-57-precomposed.png">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/animate.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<!-- Google Analytics -->
	<script>
		(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-126683188-2', 'auto');
		ga('send', 'pageview', {
			'page': '/',
			'title': 'Digital Gold Institute: Scarcity in the Digital Realm'
			});
	</script>
	<!-- End Google Analytics -->
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WR2N34H"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
		w[l] = w[l] || []; w[l].push({
			'gtm.start':
				new Date().getTime(), event: 'gtm.js'
		}); var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
				'https://www.googletagma	nager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-WR2N34H');</script>
	<!-- End Google Tag Manager -->
</head>

{% if page.layout == 'pillar' %}
	{% assign class = 'pillar-page' %}
{% else if page.layout == 'post' or page.layout == 'post-institute' %}
	{% assign class = ' ' %}
{% else %}
	{% assign class = ' ' %}
{% endif %}

<body class="{{class}}" >
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WR2N34H" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	  <!-- End Google Tag Manager (noscript) -->