        <div class="row padding">
		{% assign folder1 = site.pages | sort: 'sort_ranking' | reverse %}
		{% for c in folder1 %}
			{% if c.locale == page.locale and c.page-category == 'industries' %} 
				<div class="col-lg-2 col-md-2 text-center">
					<img class="mx-auto rounded-circle" src="{{ site.baseurl }}	{{ c.img }}"
						alt="{{ c.title }}" width=130>
					<h5>{{ c.title }}</h5>
					</a>
					<p class="text-link"><a id="btn-{{ c.title  | replace: ' ', '-' }}"  href="{{ site.baseurl }}{{ c.permalink }}">{{ site.data.locales[page.locale].glossary['discover']}}</a></p>
					<div class="text-description" style="display:none" id="{{ c.title  | replace: ' ', '-' }}" >{{ c.description }}
					</div>
				</div>
			{% endif %}
         {% endfor %}
			
        </div>
