	<section id="custody" class="custody">        
		{% for modulo in site.data.industries-education  | sort: 'sort_ranking' | reverse %}
			{% if modulo.locale == page.locale and modulo.type == page.uid %}
		<div class="container back-{{ modulo.uid }}">
		<p class="dotline"><img class="mx-auto rounded-circle" src="{{ site.baseurl }}/assets/img/icons/ico_dot.svg"  alt="dotline"/></p>
		<div class="row padding back-{{ modulo.uid }}" style="padding:20px;">
            <div class="col-lg-6 col-md-6 text-center">
			<div class="content-inner">
                <img class="mx-auto rounded-circle" src="{{ site.baseurl }}{{ modulo.img }}"
                    alt="{{ modulo.name }}" width=130>
                <h2>{{ modulo.name }}</h2>
                </a>
                <p class="text-description">{{ modulo.subdesc }}</p>
                <p class="text-link" style="display:none"><a href="{{ site.baseurl }}{{ modulo.permalink }}">{{ site.data.locales[page.locale].glossary['readmore']}}</a></p>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
			<div class="content-inner">
            </div>
            </div>
        </div>
        </div>
		{% endif %} 
		{% endfor %}
	</section>

		
		
		
		
		
		

