<!doctype html>
<html lang="en">

{% include head-dgi.html %}
{% include header-dgi.html %}
{% include script-dgi.html %}

<body>
	<!-- Begin #title-section -->
	<section id="title-child-section" class="{{ page.uid }}-section section-global-wrapper">
		<div class="container-fluid-kamn">
			<div class="row celeste">
			<div class="bcrumbs "><span>ABOUT DGI / </span><span><b>{{ page.title }}</b></span></div>
			</div>
			<div class="row" style="background:#ccc;">
				<div class="it-hero-wrapper it-dark it-overlay">
					<!-- - img-->
					<div class="img-responsive-wrapper" style="background-image:url({{ site.baseurl }}{{ page.slider }});background-size: cover;">
						<div class="img-responsive" style="padding:50px 0px;">
							<div class="it-hero-text-wrapper bg-dark header-child ">
							<h1 class="no_toc">{{ page.header }}</h1>
							<p class="d-none d-lg-block">{{ page.subdesc }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="sub-header" class="institution">
		<div class="container container-content">
		<div class="row">
			<h2 class="no_toc">{{ page.subtitle }}</h2>
			<div class="content">{{ content }}</div>
		</div>
		</div>
	</section>
	{% if page.uid == 'vision' %} 
		{% include about.html %}
		<section id="institute-insights"  class="blog-panel iinsight institute-insights">
			<div class="container">
				<div class="row">
					<h3>Institute Insights</h3>
				</div>
				{% include institute-insights/institute-insights.html %}
			</div>
		</section>
	{% endif %}
	{% if page.uid == 'team' %} 
	<section id="team"  class="blog-panel iinsight institute-insights">
		<div class="container">
			{% include about-dgi/team.html %}
		</div>
	</section>
	{% endif %}
	{% if page.uid == 'alumni' %} 
	<section id="team"  class="blog-panel iinsight institute-insights">
		<div class="container">
			{% include about-dgi/alumni.html %}
		</div>
	</section>
	{% endif %}
	{% if page.uid == 'vision' %} 
	<section id="form-section-subscribe" class="form-section section-global-wrapper"> 
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 text-center">
						<h4 class="no_toc">{{ site.data.locales[page.locale].glossary['subscribe-information']}}</h4>
				</div>
			</div>
			<div class="row">
				 <div class="col-lg-12 col-md-12 text-center">
					  <p class="d-none d-lg-block professional-workshop">{% include form-subscribe.html %}</p>
				</div>
			</div>
		</div>
	</section>
	{% else %}
	<section id="form-section" class="section-global-wrapper">
		<p class="scrolldown"><a href="#form" class="scrollLink"><img class="logo" style="width:50px" src="{{ site.baseurl }}/assets/img/home/down.png" alt="Scroll"></a></p>
		<div class="container-fluid-kamn">
			<div class="row">
				<div class="it-hero-wrapper it-dark it-overlay">
					<!-- - img-->
					<div class="img-responsive-wrapper">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-light box-inner">
								<h4 class="no_toc">{{ site.data.locales[page.locale].glossary['join']}}</h4><h5>{{ site.data.locales[page.locale].glossary['fill-form']}}</h5>
								<p class="d-none d-lg-block">{% include form-join.html %}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endif %}
	{% if site.data.cta[page.uid] %}
	{% include cta.html uid = page.uid %}
	{% endif %}
</body>

{% include footer-dgi.html %}

</html>