<!doctype html>
<html lang="en">

{% include head-dgi.html %}
{% include header-dgi.html %}
{% include script-dgi.html %}

<body>
	<section id="title" class="section-global-wrapper">
		<div class="container-fluid-kamn">
			<div class="row">
				<div class="it-hero-wrapper it-dark it-overlay">
					<!-- - img-->
					<div class="img-responsive-wrapper"
						style="background-image:url({{ site.baseurl }}{{ page.slider }});padding: 30px 0px; background-position: center;">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-dark"
								style="margin:0px auto;">
								<h1 class="no_toc" style="visibility:hidden">{{ page.header }}</h1>
								<p class="d-none d-lg-block" style="visibility:hidden">{{ page.subdesc }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- institutions -->
	<section id="content" class="content" style="display:none">
		<p class="scrolldown"><a href="#top" class="scrollLink"><img class="logo" style="width:50px" src="{{ site.baseurl }}/assets/img/home/down.png" alt="Scroll"></a></p>
		<div class="container">
			<div class="row">
				<div class="it-hero-wrapper it-dark it-overlay" id="top">
					<!-- - img-->
					<div class="img-responsive-wrapper" style="">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-light  box-inner">
								<h2>{{ page.title }}</h2>
								<p>{{ content }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="blog-crypto" class="content blog-crypto">
		<div class="container">
		{% include crypto-insights.html %}
		</div>
	</section>
	<!-- Begin #form-section -->
	<section id="form-section-subscribe" class="form-section quarterly-form section-global-wrapper"> 
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 text-center">
						<h4 class="no_toc">{{ site.data.locales[page.locale].glossary['quarterly']}}</h4>
				</div>
			</div>
			<div class="row">
				 <div class="col-lg-12 col-md-12 text-center">
					  <p class="d-none d-lg-block professional-workshop">
						{% if page.locale == 'en' %}
						{% include form-quarterly.html %}
						{% else %}
						{% include form-quarterly-it.html %}
						{% endif %}
					  </p>
				</div>
			</div>
		</div>
	</section>
	<section id="form-section-subscribe" class="form-section section-global-wrapper"> 
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 text-center">
						<h4 class="no_toc">{{ site.data.locales[page.locale].glossary['subscribe-information']}}</h4>
				</div>
			</div>
			<div class="row">
				 <div class="col-lg-12 col-md-12 text-center">
					  <p class="d-none d-lg-block professional-workshop">
						{% if page.locale == 'en' %}
						{% include form-subscribe.html %}
						{% else %}
						{% include form-subscribe-it.html %}
						{% endif %}
					  </p>
				</div>
			</div>
		</div>
	</section>
</body>

{% include footer-dgi.html %}

</html>