<!doctype html>
<html lang="en">

  {% include head-dgi.html %}
  {% include header-dgi.html %}
  {% include script-dgi.html %}

  <body>
    <!-- Begin #title-section -->
    <section id="title" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
			{% include home/section-home.html %}
        </div>
    </section>
<!-- institutions -->
<section id="home-sliders" class="institutions">
    <div class="contain bxslider">
			{% include home/home-slider.html %}
        <br>
    </div>
</section>
<section id="ps" class="custody">
		{% include professional-services/professional-services.html %}
</section>
<section id="crypto-insight" class="blog-panel crypto">
    <div class="container">
		<div class="row">
			<h3>Crypto Insight</h3>
		</div>
		{% include crypto-insights/crypto-insights.html %}
    </div>
</section>
<section id="crypto-week"  class="blog-panel institute-insights">
	<div class="container">
		<div class="row">
			<h3>Crypto Week</h3>
		</div>
		{% include institute-insights/crypto-week.html %}
	</div>
</section>
<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-form">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
	{% if site.data.cta[page.uid] %}
	{% include cta.html uid = page.uid %}
	{% endif %}
<section id="form-section" class="form-section section-global-wrapper book-meeting-panel"> 
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 text-center">
					<h4 class="no_toc">{{ site.data.locales[page.locale].glossary['claim']}}</h4>
			</div>
		</div>
		<div class="row">
			 <div class="col-lg-6 col-md-6 text-center meeting-panel">
				  <h5><button type="button" class="book" data-toggle="modal" data-target="#exampleModal">{{ site.data.locales[page.locale].glossary['book-meeting']}}</button></h5>
				  <div class="d-none d-lg-block book-meeting">{% include form-book.html %}</div>
				  <input type="hidden" class="dataform" value="{{ site.data.locales[page.locale].glossary['book-meeting']}}">
			</div>
			 <div class="col-lg-6 col-md-6 text-center info-panel">
				 <h5><button type="button" class="book" data-toggle="modal" data-target="#exampleModal">{{ site.data.locales[page.locale].glossary['request-information']}}</button></h5>
				  <div class="d-none d-lg-block request-information">{% include form-request.html %}</div>
				  <input type="hidden" class="dataform" value="{{ site.data.locales[page.locale].glossary['request-information']}}">
			</div>
		</div>
	</div>
</section>
</body>
<script type="text/javascript">
	$(document).ready(function() {
    $('.meeting-panel button').click(function() {	
		var form = $('.book-meeting').html();
		var title = $(this).parent().parent().find('.dataform').val();
		$('#modal-form .modal-title').html(title);
		$('#modal-form .modal-body').html(form);
		$('#modal-form').modal('show'); 
		
	});
    $('.info-panel button').click(function() {	
		var form = $('.request-information').html();
		var title = $(this).parent().parent().find('.dataform').val();
		$('#modal-form .modal-title').html(title);
		$('#modal-form .modal-body').html(form);
		$('#modal-form').modal('show'); 
		
	});
});
</script>
  {% include footer-dgi.html %}
</html>
