<!doctype html>
<html lang="{{page.locale}}">

{% include head-dgi.html %}
{% include header-dgi.html %}
{% include script-dgi.html %}

	<section id="title" class="section-global-wrapper">
		<div class="container-fluid-kamn">
			<div class="row celeste">
				<div class="bcrumbs ">
					{% if page.locale == 'en' %}
					<a class="navlabel " href="{{ site.baseurl }}"><span class="nav-label">HOME</span></a> <span>/</span>
					{% else %}
					<a class="navlabel " href="{{ site.baseurl }}/{{ page.locale  }}"><span class="nav-label">HOME</span></a> <span>/</span>
					{% endif %}	
					<span><b>{{ page.title }}</b></span>
					{% if page.locale == 'en' %}
					<a class="navlabel float-right " href="{{ site.baseurl }}"><span class="nav-label"><i class="fa fa-angle-left"></i> BACK</span></a>
					{% else %}
					<a class="navlabel float-right" href="{{ site.baseurl }}/{{ page.locale  }}"><span class="nav-label"><i class="fa fa-angle-left"></i> BACK</span></a>
					{% endif %}	
				</div>
			</div>	
			<div class="row">
				<div class="it-hero-wrapper it-dark it-overlay">
					<!-- - img-->
					<div class="img-responsive-wrapper"
						style="background-image:url({{ site.baseurl }}{{ page.slider }});background-size: auto 100%; padding: 30px 0px; background-position: center;">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-dark"
								style="margin:0px auto;">
								<h1 class="no_toc" style="visibility:hidden">{{ page.header }}</h1>
								<p class="d-none d-lg-block" style="visibility:hidden">{{ page.subdesc }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- institutions -->
	<section id="content" class="content" style="display:none">
		<p class="scrolldown"><a href="#top" class="scrollLink"><img class="logo" style="width:50px" src="{{ site.baseurl }}/assets/img/home/down.png" alt="Scroll"></a></p>
		<div class="container">
			<div class="row">
				<div class="it-hero-wrapper it-dark it-overlay" id="top">
					<!-- - img-->
					<div class="img-responsive-wrapper" style="">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-light  box-inner">
								<h2>{{ page.title }}</h2>
								<p>{{ content }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="blog-crypto" class="content blog-crypto">
		<div class="container">
		{% include institute-insights.html %}
		</div>
	</section>
	<!-- Begin #form-section -->
	<section id="form-section-subscribe" class="form-section quarterly-form section-global-wrapper"> 
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 text-center">
						<h4 class="no_toc">{{ site.data.locales[page.locale].glossary['quarterly']}}</h4>
				</div>
			</div>
			<div class="row">
				 <div class="col-lg-12 col-md-12 text-center">
					  <p class="d-none d-lg-block professional-workshop">{% include form-quarterly.html %}</p>
				</div>
			</div>
		</div>
	</section>
	<section id="form-section-accordion" class="form-section section-global-wrapper"> 
		<div class="container">
			<div class="row">
				<h4 class="no_toc">{{ site.data.locales[page.locale].glossary['educational-resources']}}</h4>
			</div>
		</div>
		<div class="container">
			<div class="row tab-li">
				<div class="col-lg-12 col-md-12 text-center">
					<button> {{ site.data.locales[page.locale].glossary['video'] }} <i class="fa fa-angle-down"></i></button>
				</div>
			</div>
			<div class="row tab-toggle">
				<div class="col-lg-12 col-md-12 text-center">
					{% include video.html %}
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row tab-li">
				<div class="col-lg-12 col-md-12 text-center">
					<button> {{ site.data.locales[page.locale].glossary['content-pages'] }} <i class="fa fa-angle-down"></i></button>
				</div>
			</div>
			<div class="row tab-toggle">
				<div class="col-lg-12 col-md-12 text-center">
					{% include documenti.html %}
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row tab-li">
				<div class="col-lg-12 col-md-12 text-center">
					<button> {{ site.data.locales[page.locale].glossary['faq'] }} <i class="fa fa-angle-down"></i></button>
				</div>
			</div>
			<div class="row tab-toggle">
				<div class="col-lg-12 col-md-12 text-center">
					{% include faq/faq.html %}
				</div>
			</div>
		</div>
	</section>
	<section id="form-section-subscribe" class="form-section section-global-wrapper"> 
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 text-center">
						<h4 class="no_toc">{{ site.data.locales[page.locale].glossary['subscribe-information']}}</h4>
				</div>
			</div>
			<div class="row">
				 <div class="col-lg-12 col-md-12 text-center">
					  <p class="d-none d-lg-block professional-workshop">
						{% if page.locale == 'en' %}
						{% include form-subscribe.html %}
						{% else %}
						{% include form-subscribe-it.html %}
						{% endif %}						  
					</p>
				</div>
			</div>
		</div>
	</section>
</body>
<script type="text/javascript">
	$(document).ready(function() {
    $('.tab-li button').click(function() {
		
		$('.tab-toggle').hide();
		if ($(this).parent().hasClass( "active" )) {
			$(this).parent().removeClass('active');
			$(this).parent().parent().parent().find('.tab-toggle').hide();		
		} else {
			$('.tab-li').removeClass('active');
			$(this).parent().addClass('active');
			$(this).parent().parent().parent().find('.tab-toggle').show();
		}
		
		
		
	});

});
</script>
{% include footer-dgi.html %}

</html>