<!doctype html>
<html lang="en">

{% include head-dgi.html %}
{% include header-dgi.html %}
{% include script-dgi.html %}

<body>
  <!-- Begin #title-section -->
	<section id="title" class="section-global-wrapper">
		<div class="container-fluid-kamn">
			<div class="row celeste">
			<div class="bcrumbs "><span>INSTITUTE INSIGHT/ </span></div>
			</div>			
			<div class="row">
				<div class="it-hero-wrapper it-dark it-overlay">
					<!-- - img-->
					<div class="img-responsive-wrapper"
						style="background-image:url({{ site.baseurl }}{{ page.img-detail }});background-size: auto 100%; background-position: center;">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-dark"
								style="padding:50px 0px; margin:0px auto;">
								<h1 class="no_toc">{{ page.title }}</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% if page.img-top or page.video-top %}
	<section id="top-content" class="content">
		<div class="container">
			{% if page.img-top %}
			<div class="row">
				<div class="post-content">
				  <img class="img-top" src="{{ site.baseurl }}{{ page.img-top }}" alt="Scroll" width="100%">
				</div>
			</div>
			{% endif %}
			{% if page.video-top  %}
			<div class="row">
				<div class="post-content">
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.video-top }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			{% endif %}
		</div>
	</section>
	{% endif %} 
	<section id="content" class="content">
		<div class="container">
			<p class="scrolldown"><a href="#top" class="scrollLink"><img class="logo" style="width:50px" src="{{ site.baseurl }}/assets/img/home/down.png" alt="Scroll"></a></p>
			<div class="row">
			{% if page.date %}
			<span class="post-date">
			  	  {{ page.date | date_to_long_string: "ordinal" }}
			</span>
			{% endif %}
			{% if page.author %}
				<div class="post-content">
				  {{ page.author }}
				</div>
			{% endif %}
				<div class="post-content">
				  {{ content }}
				</div>
			</div>
		</div>
	</section>
	{% if page.img-bottom or page.video-bottom %}
	<section id="top-content" class="content">
		<div class="container">
			{% if page.img-bottom %}
			<div class="row">
				<div class="post-content">
				  <img class="img-top" src="{{ site.baseurl }}{{ page.img-bottom }}" alt="Scroll" width="100%">
				</div>
			</div>
			{% endif %}
			{% if page.video-bottom  %}
			<div class="row">
				<div class="post-content">
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.video-bottom }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			{% endif %}
		</div>
	</section>
	{% endif %} 
	<!-- Begin #form-section -->
	<section id="form-section" class="section-global-wrapper">
		<div class="container-fluid-kamn">
			<div class="row">
				<div class="it-hero-wrapper it-dark it-overlay">
					<!-- - img-->
					<div class="img-responsive-wrapper">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-light box-inner">
								<h4 class="no_toc">{{ site.data.locales[page.locale].glossary['fill']}}</h4><h5>{{ site.data.locales[page.locale].glossary['moreinfo']}}</h5>
								<p class="d-none d-lg-block">{% include form.html %}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

{% include footer-dgi.html %}

</html>
