<!doctype html>
<html lang="{{page.locale}}">

{% include head-dgi.html %}
{% include header-dgi.html %}
{% include script-dgi.html %}

	<section id="title" class="section-global-wrapper">
		<div class="container-fluid-kamn">
			<div class="row celeste">
			<div class="bcrumbs ">
			{% if page.locale == 'en' %}
					<a class="navlabel " href="{{ site.baseurl }}"><span class="nav-label">HOME</span></a> <span>/</span>
					{% else %}
					<a class="navlabel " href="{{ site.baseurl }}/{{ page.locale  }}"><span class="nav-label">HOME</span></a> <span>/</span>
			{% endif %}	
			{% assign folder1 = site.pages | sort: 'sort_ranking' | reverse %}
			{% for item in site.data.settings.menu[page.locale] %}
			{% if page.parent-category == item.uid %}{% assign urlback = item.url %} <a class="navlabel " href="{{ '/' | append: item.url | relative_url}}"><span class="nav-label">{{ site.data.locales[page.locale].menu[item.uid] }}</span></a>{% endif %}
			{% endfor %} <span>/</span> <span><b>{{ page.title }}</b></span>
			{% if page.locale == 'en' %}
			<a class="navlabel float-right " href="{{ site.baseurl }}/{{ urlback  }}"><span class="nav-label"><i class="fa fa-angle-left"></i> BACK</span></a>
			{% else %}
			<a class="navlabel float-right" href="{{ site.baseurl }}/{{ urlback  }}"><span class="nav-label"><i class="fa fa-angle-left"></i> BACK</span></a>
			{% endif %}	
			</div>
			</div>			
			<div class="row">
				<div class="it-hero-wrapper it-dark it-overlay">
					<!-- - img-->
					<div class="img-responsive-wrapper"
						style="background-color:#fcb600; color:white">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-dark title-post-top"
								style="padding:30px 15px; margin:0px auto;">
								Crypto Insights
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="top-content" class="content">
		<div class="container">
			{% if page.video-top  %}
			<div class="row">
				<div class="post-content post-content-video">
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.video-top }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			{% else %}
			<div class="row">
				<div class="post-content post-top-img">
				  <img class="img-top img-top-post" src="{{ site.baseurl }}{{ page.img-detail }}" alt="Scroll" width="100%">
				</div>
			</div>			
			{% endif %}
		</div>
		<div class="container">
			<div class="row">
				<h1 class="no_toc post-titolo ">{{ page.title }}</h1>
				{% if page.date %}
				<span class="post-date">
					  <i>{{ page.date | date_to_long_string: "ordinal" }}</i>
				</span>
				{% endif %}
				{% if page.author %}
					<div class="post-content">
					  <b>{{ page.author }}</b>
					</div>
				{% endif %}
			</div>
		</div>
	</section>
	{% if page.img-top or page.video-top %}
	<section id="top-content" class="content">
		<div class="container">
			{% if page.img-top %}
			<div class="row">
				<div class="post-content post-content-img">
				  <img class="img-top" src="{{ site.baseurl }}{{ page.img-top }}" alt="Scroll" width="100%">
				</div>
			</div>
			{% endif %}
			{% if page.podcast-top  %}
			<div class="row">
				<div class="post-content post-content-video">
				<div id='buzzsprout-large-player-{{ page.podcast-top }}'></div>
				<script type='text/javascript' charset='utf-8' src='https://www.buzzsprout.com/{{ page.podcast-top }}.js?container_id=buzzsprout-large-player-{{ page.podcast-top }}&player=large'></script>
				</div>
			</div>
			{% endif %}
		</div>
	</section>
	{% endif %} 
	<section id="content-post" class="content">
		<div class="container">
			<div class="row">
				<div class="post-content post-txt">
				  {{ content }}
				</div>
			</div>
		</div>
	</section>
	{% if page.img-bottom or page.video-bottom %}
	<section id="top-content" class="content">
		<div class="container">
			{% if page.img-bottom %}
			<div class="row">
				<div class="post-content post-content-img">
				  <img class="img-top" src="{{ site.baseurl }}{{ page.img-bottom }}" alt="Scroll" width="100%">
				</div>
			</div>
			{% endif %}
			{% if page.video-bottom  %}
			<div class="row">
				<div class="post-content post-content-video">
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.video-bottom }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			{% endif %}
			{% if page.podcast-bottom  %}
			<div class="row">
				<div class="post-content post-content-video">
				<div id='buzzsprout-large-player-{{ page.podcast-bottom }}'></div>
				<script type='text/javascript' charset='utf-8' src='https://www.buzzsprout.com/{{ page.podcast-bottom }}.js?container_id=buzzsprout-large-player-{{ page.podcast-bottom }}&player=large'></script>
				</div>
			</div>
			{% endif %}
		</div>
	</section>
	{% endif %} 
	<!-- Begin #form-section -->
	<section id="form-section" class="section-global-wrapper">
		<div class="container-fluid-kamn">
			<div class="row">
				<div class="it-hero-wrapper it-dark it-overlay">
					<!-- - img-->
					<div class="img-responsive-wrapper">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-light box-inner">
								<h4 class="no_toc">{{ site.data.locales[page.locale].glossary['fill']}}</h4><h5>{{ site.data.locales[page.locale].glossary['moreinfo']}}</h5>
								<p class="d-none d-lg-block">
									{% if page.locale == 'en' %}
									{% include form.html %}
									{% else %}
									{% include form-it.html %}
									{% endif %}	
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="navpost-section" class="navpost-section-global-wrapper">
	
	<div class="PageNavigation" style="background:#fbe7b5; width: 100%; display: table;">	
	{% assign articles = site.posts | where_exp:"item", "item.locale == page.locale" %}
	{% assign arts = articles | where_exp:"item", "item.parent-category == page.parent-category" %}
	{% for article in arts %}
	  {% if article.uid == page.uid %}
		{% assign currIndex = forloop.index0 %}
		{% assign prevIndex = currIndex | minus: 1 %}
		{% assign nextIndex = currIndex | plus: 1 %}
		{% assign articleIndexLength = forloop.length | minus: 1 %}
		<div class="page-navigation">
		  {% if currIndex == 0 %}
			<a class="next0 float-right" href="{{ site.url }}{{ site.baseurl }}{{ articles[prevIndex].url }}">NEXT <i class="fa fa-angle-right"></i></a>
		  {% elsif currIndex < articleIndexLength and currIndex != 0 %}
			<a class="prev float-left" href="{{ site.url }}{{ site.baseurl }}{{ articles[nextIndex].url }}"><i class="fa fa-angle-left"></i> BACK</a>
			<a class="next float-right" href="{{ site.url }}{{ site.baseurl }}{{ articles[prevIndex].url }}">NEXT <i class="fa fa-angle-right"></i></a>
		  {% elsif currIndex == articleIndexLength %}
			<a class="prev  float-left" href="{{ site.url }}{{ site.baseurl }}{{ articles[nextIndex].url }}"><i class="fa fa-angle-left"></i> BACK</a>
		  {% endif %}
		</div>
	  {% endif %}
	{% endfor %}
		 </div>
	</section>
</body>

{% include footer-dgi.html %}

</html>
