<!doctype html>
<html lang="{{page.locale}}">

{% include head-dgi.html %}
{% include header-dgi.html %}
{% include script-dgi.html %}

	<!-- Begin #title-section -->
	<section id="title-child-section" class="section-global-wrapper">
		<div class="container-fluid-kamn">
			<div class="row celeste">
			<div class="bcrumbs "><span>Professional services /</span></div>
			</div>
			<div class="row">
				<div class="it-hero-wrapper it-dark it-overlay">
					<!-- - img-->
					<div class="img-responsive-wrapper colorwhite"
						style="background-image:url({{ site.baseurl }}{{ page.slider }});background-size: auto 100%; padding: 120px 0px; background-position: center;">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-dark"
								style="margin:0px auto;">
								<h1 class="no_toc about-dgi">{{ page.header }}</h1>
								<p class="d-none d-lg-block about-dgi">{{ page.subdesc }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="content" class="content">
		<p class="scrolldown"><a href="#top" class="scrollLink"><img class="logo" style="width:50px" src="{{ site.baseurl }}/assets/img/home/down.png" alt="Scroll"></a></p>
		<div class="container">
			<div class="row" id="top">
				<div class="it-hero-wrapper it-dark it-overlay">
					<!-- - img-->
					<div class="img-responsive-wrapper" style="">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-light box-inner"
								style="padding:50px 0px; margin:0px auto;">	
								<p>{{ content }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="ps" class="custody">
			{% include professional-services/professional-services.html %}
	</section>
	{% if site.data.cta[page.uid] %}
	{% include cta.html uid = page.uid %}
	{% endif %}

</body>

{% include footer-dgi.html %}

</html>