<!doctype html>
<html lang="en">

{% include head-dgi.html %}
{% include header-dgi.html %}
{% include script-dgi.html %}

<body>
	<!-- Begin #title-section -->
	<section id="title-child-section" class="section-global-wrapper">
		<div class="container-fluid-kamn">
			<div class="row celeste">
			<div class="bcrumbs "><span>PROFESSIONAL SERVICES / </span><span>{{ page.title }}</span></div>
			</div>
			<div class="row" style="background:#ccc;">
				<div class="it-hero-wrapper it-dark it-overlay">
					<!-- - img-->
					<div class="img-responsive-wrapper" style="background-image:url({{ site.baseurl }}{{ page.slider }});background-size: cover;">
						<div class="img-responsive">
							<div class="it-hero-text-wrapper bg-dark header-child ">
							<h1 class="no_toc">{{ page.header }}</h1>
							<p class="d-none d-lg-block">{{ page.subdesc }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="sub-header" class="institution">
		<div class="container container-content">
		<div class="row">
			<h1 class="no_toc">{{ page.subtitle }}</h1>
			<div class="content">{{ content }}</div>
		</div>
		</div>
	</section>
	<section id="institution" class="institution">
		<div class="container container-content">
		{% if page.sub-image %} 
			<div class="row">
				<div class="it-hero-wrapper it-dark it-overlay back-header" style="background-image:url({{ site.baseurl }}{{ page.sub-image }})">	
				</div>
			</div>
		{% endif %}
		</div>
	</section>
	{% if page.uid == 'partnership' %} 
	<section id="custody" class="custody">
			{% include professional-services/professional-partnership.html %}
	</section>
	{% endif %}
	<section id="moduli" class="pservices">
		<div class="container">
	{% if page.uid == 'training' %} 
			{% include pservices.html %}
	{% endif %}
		<div class="row">
			<div class="col-lg-12 col-md-12 text-center back-{{ item.uid }}">
				<p class="text-description">{{ page.description }}</p>
			</div>
		</div>
		</div>
	</section>
	{% if page.uid == 'training' %} 
	<section id="form-section" class="form-section section-global-wrapper"> 
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 text-center">
						<h4 class="no_toc">{{ site.data.locales[page.locale].glossary['claim']}}</h4>
				</div>
			</div>
			<div class="row">
				 <div class="col-lg-6 col-md-6 text-center">
					  <h5>{{ site.data.locales[page.locale].glossary['book-meeting']}}</h5>
					  <p class="d-none d-lg-block el-workshop">{% include form-book.html %}</p>
				</div>
				 <div class="col-lg-6 col-md-6 text-center">
					 <h5>{{ site.data.locales[page.locale].glossary['request-information']}}</h5>
					  <p class="d-none d-lg-block professional-workshop">{% include form-request.html %}</p>
				</div>
			</div>
		</div>
	</section>
	{% else %}
	<section id="form-section" class="form-section section-global-wrapper"> 
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 text-center">
						<h4 class="no_toc">{{ site.data.locales[page.locale].glossary['claim']}}</h4>
				</div>
			</div>
			<div class="row">
				 <div class="col-lg-6 col-md-6 text-center">
					  <h6>{{ site.data.locales[page.locale].glossary['signup-for']}}</h6>
					  <h5>{{ site.data.locales[page.locale].glossary['entry-level']}}</h5>
					  <p class="d-none d-lg-block el-workshop">{% include form-el-workshop.html %}</p>
				</div>
				 <div class="col-lg-6 col-md-6 text-center">
					 <h6>{{ site.data.locales[page.locale].glossary['signup-request']}}</h6>
					 <h5>{{ site.data.locales[page.locale].glossary['personal-workshop']}}</h5>
					  <p class="d-none d-lg-block professional-workshop">{% include form-personal-workshop.html %}</p>
				</div>
			</div>
		</div>
	</section>
	{% endif %}
</body>

{% include footer-dgi.html %}

</html>