<div class="container-inner owide">
	<div class="row padding">
		{% assign folder1 = site.pages | sort: 'sort_ranking' | reverse %}
		{% for section in folder1 %}
		{% if section.locale == page.locale and section.page-tag == 'sectop' %}
		<div class="col-lg-12 col-md-12 {{ section.class }}"
			style="background-image:url({{ site.baseurl }}{{ section.slider-home }});">
			<div class="top top-home">
				<div class="home-content-inner">
					<h1>{{ section.title }}</h1>
					<h3 class="description">{{ section.subdesc }}</h3>
					<br>
					<p class="text-link"><a href="{{ site.baseurl }}{{ section.permalink }}">DISCOVER MORE</a></p>
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
		<p class="scrollhome"><a href="#top" class="scrollLink"><img class="logo" style="width:30px" src="{{ site.baseurl }}/assets/img/home/ico_header_scroll.png" alt="Scroll"></a></p>
	</div>
</div>
<div class="container-inner" id="top">
	<div class="row padding" style="max-width: 50%;margin: 0px auto;float: none;">
		{% assign folder1 = site.pages | sort: 'sort_ranking' | reverse %}
		{% for section in folder1 %}
		{% if section.locale == page.locale and section.page-tag == 'secbtm' %}
		<div class="col-lg-12 col-md-12 {{ section.class }}"
			style="background-image:url({{ site.baseurl }}{{ section.slider-home }});">
			<div class="bottom">
				<div class="content-inner">
					<h2>{{ section.title }}</h2>
					<p class="description">{{ section.subdesc }}</p>
					<p class="text-link"><a href="{{ site.baseurl }}{{ section.permalink }}">MORE ABOUT</a></p>
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>